[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jaxlib = "0.3.10+cuda11.cudnn805"
cupy-cuda112 = "9.2.0"
gpaw = "*"
ase = "*"
pytest = "*"

[packages]
numpy = "1.19.5"
h5py = "3.1.0"
jax = "0.3.10"
jaxlib = "0.3.10"+cuda11.cudnn805"
jraph = "0.0.5.dev0"
flax = "0.4.2"
wandb = "0.13.0"
optax = "0.1.2"
tqdm = "4.61.1"

[requires]
python_version = "3.8.10"